# Ігнорувати файли та папки .idea
.idea/
# Ігнорувати тимчасові файли та каталоги створені системою
*~
*.swp
.DS_Store
Thumbs.db
.vagrant/
Vagrantfile.save
# Ігнорувати залежності та віртуальні оточення Python
__pycache__/
venv/

# Виключити файли середовища
.env
