.idea/
# Ігнорувати тимчасові файли та каталоги створені системою
*~
*.swp
.DS_Store
Thumbs.db

# Ігнорувати залежності та віртуальні оточення Python
__pycache__/
venv/
# Ігнорувати файли та папки .idea